# ID of main user
ADMIN_ID=1234567890

# Telegram bot token
BOT_TOKEN="123456789:ABCdefGhIjkLmNoPqRsTuVwXyZ"

# Using the url connection to PostgreSQL Database
POSTGRES_URL="postgres://postgres:pass@localhost:5432/postgres"
